<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo List</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f4f4f4;
        }

        .container {
            max-width: 600px;
            margin: 20px auto;
            padding: 20px;
            background-color: #fff;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        h1 {
            text-align: center;
        }

        form {
            margin-bottom: 20px;
            display: flex;
            align-items: center;
        }

        input[type="text"] {
            width: calc(100% - 80px);
            padding: 11px;
            border: 1px solid #ccc;
            border-radius: 5px 0 0 5px;
            font-size: 16px;
        }

        button {
            padding: 0.5px 10px;
            background-color: #007bff;
            color: #fff;
            border: none;
            border-radius: 0 5px 5px 0;
            cursor: pointer;
            font-size: 16px;
        }

        ul {
            list-style-type: none;
            padding: 0;
        }

        li {
            margin-bottom: 10px;
            padding: 10px;
            background-color: #f9f9f9;
            border-radius: 5px;
        }

        li a {
            margin-left: 10px;
            color: #007bff;
            text-decoration: none;
        }

        li a:hover {
            text-decoration: underline;
        }

        del {
            color: #888;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>Todo List</h1>
        <form action="/" method="POST">
            <input type="text" name="task" placeholder="Enter task">
            <button type="submit">Add Task</button>
        </form>
        <ul>
            {% for index, task in enumerate(tasks) %}
                <li>
                    {% if task['completed'] %}
                        <del>{{ task['task'] }}</del>
                    {% else %}
                        {{ task['task'] }}
                    {% endif %}
                    <a href="/complete/{{ index }}">Complete</a>
                    <a href="/delete/{{ index }}">Delete</a>
                </li>
            {% endfor %}
        </ul>
    </div>
</body>
</html>

